---
layout: default
title: Jukebox
permalink: /jukebox/
description: "My music journal: a running database of songs I've listened to, with unfiltered thoughts attached. Not rankings, just what I love."
---
<div class="page-container music-page">
    <div class="post-header">
        <div class="post-header-left">
            {% include theme-toggle.html %}
        </div>
        <a href="{{ '/' | relative_url }}" class="site-name">Rajath</a>
    </div>

    <article class="page" id="content-start" tabindex="-1">
        <h1 class="page-title">Jukebox</h1>
        {% include jukebox.html static=true %}
    </article>
</div>
