:root {
    --link-color: #01cda9;
    /* #3273dc */
    --visited-color: #01cda9;
    --secondary-color: #01cda9;
    --font-color: #1f1f1f;
    --bg-color: #fafafa;
    --heading-color: #1f1f1f;
    --caption-color: #656565;
    --hover-color: #1f1f1f;
    --button-color: #01cda9;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/* Global styles */
body {
    min-height: 100vh;
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

.favicon{
    width:24px;
    height:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    padding: 0;
    margin: 4px 0px;
}
p{
    padding: 0;
    margin: 4px 0px;
}
.bio{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 16px 0px;
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-color);
}
.blog-link{
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
}

/* Component styles */
.logo, .socials, .blog-index {
    display: flex;
    gap: 4px; /* Default gap, overridden if needed */
    align-items: center;
}
.logo{
    gap: 6px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 8px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    list-style: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 48px;
}

.blog-image {
    width: 90%;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date {
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    color: var(--caption-color);
}
.caption, .copyright{
    color: var(--caption-color);
    font-size: 15px;
}

.content {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
}

.divider{
    display: flex;
    width: 100%;
    margin: 0px;
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid var(--font-color);
    margin: 0;
    padding: 0;
}

/* Header link styles */
.header-link {
    color: var(--font-color);
    font-family: "Nunito Sans", sans-serif;
    font-size: 19px;
}
.header-logo{
    font-family: "Quattrocento", serif;
}

/* Specific component gap adjustments */
.socials {
    gap: 8px;
}

.blog-index {
    gap: 16px;
}

/* Mailing list */

.mailing-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mailing-card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #1f1f1f;
    margin: 16px 0px;
    justify-content: center;
    align-items: center;
}
.mailing-list-top{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    gap: 2px;
}

.blog-list{
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.blog-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    padding: 8px;
}

.blog-roll-image{
    width: 100%;
    height: auto;
}

/* Button style */
button, input[type=submit]{
    background-color: var(--button-color);
    border-radius:9999px;
    color: var(--font-color);
    border-color: #1f1f1f;
    border-width: 1px;
    padding: 4px 12px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
}
button, input[type=submit]:hover{
    background-color: var(--hover-color);
    color: #ffffff;
}
input[type=email]{
    font-family: "Nunito Sans", sans-serif;
    border-color: var(--font-color);
    border-radius: 9999px;
    border-width: 1px;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
}

.post-details{
    display: flex;
    gap: 4px;
}


/* Responsive styles */
@media only screen and (min-width:840px) {
    body{
        width: 760px;
    }

    .blog-image {
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {
    body{
        width: 100%;
    }
    .blog-image {
        width: 100%;
    }
    .blog-posts{
        grid-gap: 8px;
    }
}

@media only screen and (max-width: 480px) {
    body{
        width: 100%;
        font-size: 17px;
    }
    .blog-image {
        width: 100%
    }
    .content {
        padding: 0px 16px;
    }
    .favicon{
        width: 22px;
        height: auto;
    }
    .header-link{
        font-size: 17px;
    }
    .blog-link{
        font-size: 17px;
    }
    .blog-posts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
}