:root {
    --link-color: #3273dc;
    --visited-color: #8b6fcb;
    --secondary-color: #536390;
    --font-color: #222;
    --bg-color: #fafafa;
    --heading-color: #222;
    --caption-color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/* Global styles */
body {
    /* height: 100vh; */
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces', serif;
    font-weight: 400;
}

h1 {
    font-size: 24px;
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-color);
}

/* Component styles */
.logo, .socials, .blog-index {
    display: flex;
    gap: 4px; /* Default gap, overridden if needed */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 8px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    padding: 0 8px;
}

.blog-image {
    width: 90%;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date {
    font-family: 'Space Mono', monospace;
    color: var(--caption-color);
    font-size: 14px;
}
.caption{
    color: var(--caption-color);
    font-size: 14px;
}

.content {
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
}

/* Header link styles */
.header-link {
    color: var(--font-color);
}

/* Specific component gap adjustments */
.socials {
    gap: 8px;
}

.blog-index {
    gap: 16px;
}

/* Responsive styles */
@media only screen and (min-width:1200px) {
    body {
        width: 840px;
    }

    .blog-image {
        width: 90%;
    }
}
@media only screen and (max-width: 1200px) {
    body {
        width: 70%;
    }

    .blog-image {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    .blog-image {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    .blog-image {
        width: 90%;
    }

    .copyright{
        display: none;
        visibility: hidden;
    }
}
