---
layout: default
---
{% include header.html %}

<div class="home-container">
    <div class="about-section" id="content-start" tabindex="-1">
        {{ content }}
    </div>

    <div class="tabs-container">
        <div class="tabs-header">
            {% comment %} Real links so crawlers can reach the section pages;
            tabs.js intercepts clicks and swaps panels in place. {% endcomment %}
            <div class="tabs-nav" role="tablist" aria-label="Content sections">
                <a class="tab-button active" id="tab-writings" href="{{ '/writings/' | relative_url }}" data-tab="writings" data-text="Writings" role="tab" aria-selected="true" aria-controls="writings-tab">Writings</a>
                <a class="tab-button" id="tab-bookshelf" href="{{ '/bookshelf/' | relative_url }}" data-tab="bookshelf" data-text="Bookshelf" role="tab" aria-selected="false" aria-controls="bookshelf-tab" tabindex="-1">Bookshelf</a>
                <a class="tab-button" id="tab-jukebox" href="{{ '/jukebox/' | relative_url }}" data-tab="jukebox" data-text="Jukebox" role="tab" aria-selected="false" aria-controls="jukebox-tab" tabindex="-1">Jukebox</a>
            </div>
            {% include theme-toggle.html %}
        </div>

        <div class="tab-content active" id="writings-tab" role="tabpanel" aria-labelledby="tab-writings">
            {% include post-list.html %}
        </div>

        <div class="tab-content" id="bookshelf-tab" role="tabpanel" aria-labelledby="tab-bookshelf">
            {% include bookshelf.html %}
        </div>

        <div class="tab-content" id="jukebox-tab" role="tabpanel" aria-labelledby="tab-jukebox">
            {% include jukebox.html %}
        </div>
    </div>
</div>
