---
layout: default
---
{% include header.html %}

<div class="home-container">
    <div class="about-section">
        {{ content }}
    </div>

    <div class="tabs-container">
        <div class="tabs-header">
            <div class="tabs-nav" role="tablist" aria-label="Content sections">
                <button class="tab-button active" id="tab-writings" data-tab="writings" data-text="Writings" role="tab" aria-selected="true" aria-controls="writings-tab">Writings</button>
                <button class="tab-button" id="tab-bookshelf" data-tab="bookshelf" data-text="Bookshelf" role="tab" aria-selected="false" aria-controls="bookshelf-tab" tabindex="-1">Bookshelf</button>
                <button class="tab-button" id="tab-jukebox" data-tab="jukebox" data-text="Jukebox" role="tab" aria-selected="false" aria-controls="jukebox-tab" tabindex="-1">Jukebox</button>
            </div>
            {% include theme-toggle.html %}
        </div>

        <div class="tab-content active" id="writings-tab" role="tabpanel" aria-labelledby="tab-writings">
            {% include post-list.html %}
        </div>

        <div class="tab-content" id="bookshelf-tab" role="tabpanel" aria-labelledby="tab-bookshelf">
            {% include bookshelf.html %}
        </div>

        <div class="tab-content" id="jukebox-tab" role="tabpanel" aria-labelledby="tab-jukebox">
            {% include jukebox.html %}
        </div>
    </div>
</div>
